{% extends "member.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favor_book.css') }}"> 
    {% if books | length == 0 %}
        <h2 class="d-flex justify-content-center">目前尚未追蹤任何書籍</h2>
    {% endif %}
    <div id="tracker">
    {% for category, products in books.items() %}
        <div class="divider book">
            <ul class="breadcrumb cate">
                <li><a class="cate" href="" >{{ category }}</a></li>
            </ul>    
            {% for isbn_id, info in products.items() %}
            <div class="row no-gutters">
                <div class="col-md-3" >
                    <a href="product/{{ isbn_id }}"><img src="{{info['cover_photo']}}" class="card-img" onerror="this.onerror=null;this.src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/674/6392009674_d59d0209-6c03-4b75-9084-0e5fffb34183.png?cb=1637205240'"></a>      
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10" >
                            <div class="card-body">
                                <a class="bookurl" href="product/{{ isbn_id }}"><h5 class="card-title">{{info['title']}}</h5></a> 
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="card-body price">
                                <button type="button" class="btn btn-check row" value="?price={{ isbn_id }}"><i class="fas fa-tag book"></i></button> 
                            </div>
                        </div>
                    </div>
                    <div class="row pricearea">
                        <div class="container col-3 price">
                            <img class="price" src="https://linepaytw-cms.line-scdn.net/v0/fc8cb09e193cc3f5a8e7ebc6910debd296aacb3d84e1f1a2891dd45444a03855.png">
                            {% if info['ks_price'] %} 
                                <h4 class="active price">{{info['ks_price']}} 元</h4><a href="{{info['ks_product_url']}}" class="btn link">前往網站</a>
                            {% else %}
                                <h4 class="noprice">{{info['ks_price']}}</h4><button type="button" class="btn btn-default noprice">暫無存貨</button>
                            {% endif %}
                        </div>
        
                        <div class="container col-4 price">
                            <img class="price"  src="https://meet.eslite.com/Content/Images/ThemePavilion/eslite-logo.jpg" style="width: 50%; height: 50%; ">

                            {% if info['es_price'] %} 
                                <h4 class="active price">{{info['es_price']}} 元</h4><a href="{{info['es_product_url']}}" class="btn link">前往網站</a>
                            {% else %}
                                <h4 class="noprice">{{info['es_price']}} 元</h4><button type="button" class="btn btn-default noprice">暫無存貨</button>
                            {% endif %}
                        </div>
                        
                        <div class="container col-3 price">
                            <img class="price"  src="https://www.esunbank.com.tw/bank/-/media/esunbank-mobile/images/discount/shops/b_onlineshop/2008.jpg" style="width: 50%; height: 50%;">
                            {% if info['mm_price'] %} 
                                <h4 class="active price">{{info['mm_price']}} 元</h4><a href="{{info['mm_product_url']}}" class="btn link">前往網站</a>
                            {% else %}
                                <h4 class="noprice">{{info['mm_price']}} 元</h4><button type="button" class="btn btn-default noprice">暫無存貨</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/favor_book.js', u=last_updated) }}"></script>
{% endblock content%}