{% extends "member.html" %}

{% block content %}
    {% if cates | length == 0 %}
        <h2 class="d-flex justify-content-center" style="font-weight: bold; margin-top: 30vh; color:#343A40">目前尚未追蹤任何分類</h2>
    {% endif %}
    {% for section, cate_sub in cates.items() %}
        <div  style="margin-bottom: 30px;">
        <ul class="breadcrumb bg-dark" style="background-color: #ffffff; box-shadow: 0 8px 16px 0 rgba(133, 104, 104, 0.2); border:0px; border-radius: 5px; margin-bottom: 8px;">
            <li><a href="/{{ section }}" style="margin-right: 10px; font-weight: bold; color:#ffffff">{{ section }}</a></li>
        </ul>
        {% for category, subcate in cate_sub %}
        <ul class="breadcrumb " style="background-color: #ffffff; box-shadow: 0 8px 16px 0 rgba(133, 104, 104, 0.2); border:0px; border-radius: 5px;">
            <li style="margin-right: 10px; font-weight: bold; color:#343A40"><a href="/{{ section }}?category_nm={{ category }}">{{ category }}</a></li>
            <li style="margin-right: 10px; font-weight: bold;">⯈</li>
            <li style="margin-right: 10px; font-weight: bold; color:#343A40"><a href="/{{ section }}?category_nm={{ category }}&subcate_nm={{ subcate }}">{{ subcate }}</a></li>
        </ul>
        {% endfor %} 
        </div>
    {% endfor %}
{% endblock content%}