{% extends "member.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/favor_author.css') }}"> 
    {% if authors | length == 0 %}
        <h2 class="d-flex justify-content-center">目前尚未追蹤任何作者</h2>
    {% endif %}
    {% for author_name, books in authors.items() %}
        <div class="divider">
        <ul class="breadcrumb bg-dark">
            <li><a class="author" href="/keyword?search={{ author_name }}&only_author=True">{{ author_name }}</a></li>
        </ul>
        {% for book in books %}
            <ul class="breadcrumb white">
                <li class="book">{{ book[2] }}</li>
                <li><a class="bookurl" href="/product/{{ book[0] }}">{{ book[1] }} </a></li>
            </ul>
        {% endfor %} 
        </div>
    {% endfor %}
{% endblock content%}


