{% extends "member.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/favor_cate.css') }}"> 
    {% if cates | length == 0 %}
        <h2 class="d-flex justify-content-center">目前尚未追蹤任何分類</h2>
    {% endif %}
    {% for section, cate_sub in cates.items() %}
        <div class="divider">
        <ul class="breadcrumb bg-dark">
            <li><a class="section" href="/{{ section }}">{{ section }}</a></li>
        </ul>
        {% for category, subcate in cate_sub %}
        <ul class="breadcrumb white">
            <li class="cate"><a class="cate" href="/{{ section }}?category_nm={{ category }}">{{ category }}</a></li>
            <li class="arrow">⯈</li>
            <li class="cate"><a class="cate" href="/{{ section }}?category_nm={{ category }}&subcate_nm={{ subcate }}">{{ subcate }}</a></li>
        </ul>
        {% endfor %} 
        </div>
    {% endfor %}
{% endblock content%}