<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Booksbar</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="https://d3bu8utwyaxpsl.cloudfront.net/open-book.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
    </head>
    <body>
      <nav class="navbar" style="background-color: #393d3f;">
        <a class="navbar-brand" style="color: #ffffff;" href="{{ url_for('index')}}"><img src='https://d3bu8utwyaxpsl.cloudfront.net/logo.png' style="width: 60%;"></a>
        {% if 'loggedin' in session %}
          <a href="/member"><i class="fas fa-user-circle fa-2x" style="color: #ffffff" ></i></a>        
        {% else %}
          <a onclick="document.getElementById('id01').style.display='block'" ><i class="fas fa-user-circle fa-2x" style="color: #ffffff" ></i></a>
        {% endif %}
      </nav>
      {% include 'login.html' %}
      <main>
          <div id="loading"></div>
          <div id="content">
          <div class="jumbotron">
            <div class="mx-auto i">
              <form class="form-inline p-3" action="/keyword" >
                <input id="question" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search" required />
                <button class="btn my-2 my-sm-0" type="submit" onclick="loading();">搜尋書名</button>
              </form>

              <form class="form-inline p-3">
                <a class="btn my-2 my-sm-0" href="/文學?category=現代華文創作" role="button">查看全部分類</a>
              </form>
              <br><br>
              <p class="text-xl-right">你可能不知道自己要的是什麼，但是，要先知道自己，不要什麼。<br>                                  –《走在夢想的路上》．謝哲青</p>
            </div>
          </div>
        {% if 'loggedin' in session %}
        <div class="btn-group justify-content-end" role="group" aria-label="Basic example">
          {% if user_id == 0 %}
            <div class="dropdown">
            {% if period == 'month' %}
                <button class="btn active" >全部分類 - 近一個月</button>
            {% else %}
                <button class="btn active" >全部分類 - 即將上市</button>
            {% endif %}
                <div class="dropdown-content" >
                  <a class="period" href="/?period=month" onclick="loading2();">近一個月</a>
                  <a class="period" href="/?period=new" onclick="loading2();">即將上市</a>
                </div>
            </div>
            <div class="type divider"> | </div>
            <div class="dropdown">
              <button class="btn inactive">依追蹤分類</button>
              <div class="dropdown-content">
                <a class="period" href="/?period=month&user_id={{ session['id'] }}" onclick="loading2();">近一個月</a>
                <a class="period" href="/?period=new&user_id={{ session['id'] }}" onclick="loading2();">即將上市</a>
              </div>
            </div>
          {% else %}
          <div class="dropdown">
                <button class="btn inactive">全部分類</button>
                <div class="dropdown-content" >
                  <a class="period" href="/?period=month" onclick="loading2();">近一個月</a>
                  <a class="period" href="/?period=new" onclick="loading2();">即將上市</a>
                </div>
            </div>
            <div class="type divider"> | </div>
            <div class="dropdown">
            {% if period == 'month' %}
              <button class="btn active" >依追蹤分類 - 近一個月</button>
              {% else %}
              <button class="btn active" >依追蹤分類 - 即將上市</button>
              {% endif %}
              <div class="dropdown-content">
                <a class="period" href="/?period=month&user_id={{ session['id'] }}" onclick="loading2();">近一個月</a>
                <a class="period" href="/?period=new&user_id={{ session['id'] }}" onclick="loading2();">即將上市</a>
              </div>
            </div>
          {% endif %}
        </div>

        {% else %}
        <div class="btn-group justify-content-end " role="group" aria-label="Basic example">
          {% if period == 'month' %}
            <a class="btn btn-dark my-2 my-sm-0 active" href="/?period=month" role="button" onclick="loading2();">近一個月出版</a>
          {% else %}
            <a class="btn btn-dark my-2 my-sm-0 inactive" href="/?period=month" role="button" onclick="loading2();">近一個月出版</a>
          {% endif %}
          <div class="type divider"> | </div>
          {% if period == 'new' %}
            <a class="btn btn-dark my-2 my-sm-0 active" href="/?period=new" role="button"  onclick="loading2();"">即將出版</a>
          {% else %}
          <a class="btn btn-dark my-2 my-sm-0 inactive" href="/?period=new" role="button"  onclick="loading2();">即將出版</a>
          {% endif %}
        </div>
        {% endif %}
        <div>


        <div id="loading2"></div>
        <div id="content2">
          <div class="row book">
          {% if product_list | length == 0  %}
            <h1 class="nofollow">目前還沒有追蹤分類</h1>
          {% endif %}

          {% for section, books in product_list.items() %}
              <div class="catetag">
                  <ul class="breadcrumb cate">
                      <li class="cate">{{ section }}</li>
                  </ul>
              </div> 
              <div class="row inner">
              {% for book in books %}
              <div class="card inner">
                <a class="bookurl" href="product/{{ book['isbn_id'] }}" alt=''>
                  <div class="mx-auto d-block">
                    <img class="card-img-top p-3 img" src="{{ book['cover_photo']}}" alt="cover_photo" onerror="this.onerror=null; this.src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/674/6392009674_d59d0209-6c03-4b75-9084-0e5fffb34183.png?cb=1637205240';">
                  </div>
                  <div class="overlay">
                    {% if book['description'] | length == 0 %}
                      <div class="text no"> 目前無內容介紹 </div>
                    {% else %}
                      <div class="text active"> {{book['description'][:110]}}...</div>
                    {% endif %}
                  </div>
                  <div class="card-body inner">
                    {% if book['title'].split('：')[0]| length <= 10 %}
                      <h5 class="card-title">{{ book['title'].split('：')[0] }}</h5>
                    {% else %}
                      <h5 class="card-title">{{ book['title'].split('：')[0].split('（')[0]}}</h5>
                    {% endif %}
                    <div class="detail">{{ book['subcategory']}}</div>
                    <p class="detail">作者: {{ book['author'][:10]}}</br>
                    出版日: {{ book['publish_date']}}</p>                    
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

      </div>
      </main>
      <button onclick="topFunction()" id="myBtn" title="Go to top">▲</button>      
      <script type="text/javascript" src="{{ url_for('static', filename='js/index.js', u=last_updated) }}"></script>

  </body>
  </html>