<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Booksbar</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
      <nav class="navbar bg-dark">
        <a class="navbar-brand" style="color: #ffffff;" href="{{ url_for('index')}}"><img src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/134/6374881134_593a507b-3f0f-498b-bfbe-445b6ef123d8.png?cb=1636943581' style="width: 60%;"></a>
        <a href="{{ url_for('member') }}" ><i class="fas fa-user-circle navbar-brand" style="color: #ffffff;"></i></a>
    </nav>
      <main>   
          <div class="jumbotron" style="height: 65vh; background: url('https://d3bu8utwyaxpsl.cloudfront.net/bookbar.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="mx-auto" style="width:80%; position:absolute; top: 32%; left:10%">
              <form class="form-inline p-3" action="/product">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" required>
                <button class="btn btn-dark my-2 my-sm-0" type="submit" style="background-color:#454b50; border-color: #454b50; font-weight:bold">搜尋書名</button>
              </form>
              <form class="form-inline p-3">
                <a class="btn btn-dark my-2 my-sm-0" href="/文學?category=現代華文創作" role="button" style="background-color:#454b50; border-color: #454b50; font-weight:bold">查看全部分類</a>
              </form>
              <br><br>
              <p class="text-xl-right" style="color: #ffffff; font-weight: bold; font-size:large;">你可能不知道自己要的是什麼，但是，要先知道自己，不要什麼。<br>                                  –《走在夢想的路上》．謝哲青</p>
            </div>
          </div>
        </div>
        <div class="btn-group justify-content-end" role="group" aria-label="Basic example" style="width: 90%;">
          <button type="button" class="btn btn-dark shadow-lg bg-dark rounded">全部</button>
          <button type="button" class="btn btn-light ">依追蹤類別</button>
          <button type="button" class="btn btn-light ">依追蹤作者</button>
        </div>
        {% for subset in collections %}
          <div class="container p-3" style="width: 70%;">
            <div class="row ">
              {% for book in subset %}
                <div class="card mx-auto" style="width: 15rem; height:70%; border:0px; border-radius: 7px;">
                  <a href="product/{{ book['isbn_id'] }}" alt=''>
                    <img class="card-img-top p-3" src="{{ book['cover_photo']}}" alt="Card image cap" onerror="this.onerror=null;this.src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/273/6331341273_aaf6d286-1736-4b10-acfa-95df264d860e.png?cb=1636274683';" >
                  </a>
                  <div class="card-body" style="height:8rem; width:20em">
                    {% if book['title'].split('：')[0]| length <= 10 %}
                      <h5 class="card-title" style="font-weight: bold">{{ book['title'].split('：')[0][:10] }}</h5>
                    {% else %}
                      <h5 class="card-title" style="font-weight: bold">{{ book['title'].split('：')[0].split('（')[0][:10] }}</h5>
                    {% endif %}
                    <p>{{ book['author'][:15]}}</br>
                    {{ book['publish_date'].strftime("%Y-%m-%d")}}</p>                    
                  </div>
                </div>
              {% endfor %} 
              </div> 
          </div> 
        {% endfor %}    
      </main>
      <style>
        .card {
          box-shadow: 0 8px 16px 0 rgba(133, 104, 104, 0.2);
        }
        </style> 
    </body>
  </html>