<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div id="id01" class="modal">
    <div class="flip-container animate">
      <div class="flipper" id="flipper">
        <div class="front">
          <div class="container login">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <h3 class="login">會員登入</h3>
            <div class="login">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="loginMail" name="email" value="{{ value }}" required>
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" id="loginPwd" name="password" required>
              </div>
              <button class="btn login"  id="login">登入</button>
              <a class="flipbutton" id="loginButton" >還沒有帳號? 前往註冊</a>
            </div>
          </div>
        </div>

        <div class="back">      
          <div class="container login">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <h3 class="login">新會員註冊</h3>
            <div class="register">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="registerMail" placeholder="Enter email" name="email" required>
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="registerPwd" placeholder="Enter password" name="password" required>
              </div>
              <button class="btn login" id="register">註冊</button>
              <a class="flipbutton" id="registerButton" >已有帳號? 前往登入</a>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <!-- <script type="text/javascript" src="/flaskapp/server/static/login.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/login.js', u=last_updated) }}"></script>







