<!DOCTYPE html>
<html lang="en">
<head>
  <title>Booksbar | 會員登入</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar bg-dark"">
    <a class="navbar-brand" style="color: #ffffff;" href="{{ url_for('index')}}"><img src='https://dewey.tailorbrands.com/production/brand_version_mockup_image/134/6374881134_593a507b-3f0f-498b-bfbe-445b6ef123d8.png?cb=1636943581' style="width: 60%;"></a>
 </nav>
<div class="container" style="box-shadow: 0 8px 16px 0 rgba(133, 104, 104, 0.2); border:0px; border-radius: 5px; margin-top: 50px; padding: 30px; width: 40%;" >
  {% if msg != '' %}
    <div class="alert " style="background-color: #f55969; color: #ffffff;">
      <strong>{{msg}}</strong>
    </div>
  {% endif %}  
  <h3 style="font-weight: bold;">會員登入</h3>
  <form action="{{ url_for('login')}}" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
    </div>
    <button type="submit" class="btn bg-dark" style="color:white; font-weight: bold; margin-right: 30px;">登入</button>
    <a style="color: #343A40; font-weight: bold; " href="{{ url_for('signup')}}">新會員註冊</a>
  </form>
</div>

</body>
</html>