<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Booksbar | Member | {{ session['username']}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="https://d3bu8utwyaxpsl.cloudfront.net/open-book.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/member.css') }}"> 
  
    </head>
    <body>
        <nav class="navbar">
          <a href="{{ url_for('index')}}" class="navbar-brand"><img class="navimg" src='https://d3bu8utwyaxpsl.cloudfront.net/logo.png'></a>
        </nav>
        <main>
            <div class="row divider">
                <div class="container col-sm-1">
                </div>
                <div class="container col-sm-2">
                    <div class="card mb-3">
                        <div class="col-md-7 ">
                            <img class="rounded mx-auto d-block" src="https://cdn-icons-png.flaticon.com/128/171/171322.png"> 
                        </div>
                        <div class="col-md-9">
                            <h4 class="username">{{ session['username']}}</h4>
                        </div>
                    </div>
                    <div class="card mb-3 type">
                        <div class="col-md-7 history">
                            <a class="favitem" href="/member?track_type=0"><i class="fas fa-history" id="heart">  活動紀錄</i></a>
                        </div>
                        <div class="col-md-7 item">
                            <a class="favitem" href="/member?track_type=1"><i class="fas fa-heart" id="heart">  追蹤分類</i></a>
                        </div>
                        <div class="col-md-7 item">
                            <a class="favitem" href="/member?track_type=3"><i class="fas fa-pen-nib">  追蹤作者</i></a>
                        </div>
                        <div class="col-md-7 item">
                            <a class="favitem"  href="/member?track_type=2"><i class="fas fa-tag">  追蹤書籍</i></a>
                        </div>
                        <div class="col-md-7 button">
                            <a href="{{ url_for('logout') }}"><button class="btn member" type="submit">登出</button></a>
                        </div>
                    </div>
                </div>
                <div class="container col-sm-6 w3-animate-opacity">
                    {% block content %}
                    <h5 class="count">各項活動統計</h5>
                    {% if activity_counts | length == 0 %}
                        <h2 class="d-flex justify-content-center">目前尚未有任何活動紀錄</h2>
                    {% else %}            
                        <div class="row d-flex justify-content-center">
                        {% for type_name, counts in activity_counts.items() %}
                          <div class="divider count">
                            <div class="viewed">
                                <h1 class="card-title d-flex justify-content-center counter" data-target="{{ counts }}">0</h1>            
                                <h5 class="card-title d-flex justify-content-center">{{ type_name }}</h5>                       
                            </div>
                          </div>
                        {% endfor %} 
                        </div> 
                        <h5 class="viewedbooks">最近20筆閱覽紀錄</h5>

                        {% for isbn_id, product in browse_history.items() %}
                        <div class="row d-flex justify-content-center">
                            <div class="row no-gutters member">
                                <div class="col-md-3 " >
                                    <a href="product/{{ isbn_id }}">
                                        <img src="{{product['cover_photo']}}" class="card-img" onerror="this.onerror=null;this.src='https://cdn-icons-png.flaticon.com/128/171/171322.png'" style="height: 85%; width: 85%; margin-bottom: 15px; margin-top: 15px; margin-left: 15px;">
                                    </a>    
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body" >
                                    <a class="bookurl" href="product/{{ isbn_id }}">
                                        <h5 class="card-title">{{product['title']}}</h5>
                                    </a>    
                                    <p class="card-text">{{product['description'][:100]}}....</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endblock content%}
                </div>  
                <div class="container col-sm-2 bottom">
                </div>
              </div>
              <button onclick="topFunction()" id="myBtn" title="Go to top">▲</button>      
        </main>
        <script type="text/javascript" src="{{ url_for('static', filename='js/member.js', u=last_updated) }}"></script>
    </body>