

.flipper {
    position: relative;
        background: #ffffff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;

    transition: 0.6s;
    transform-style: preserve-3d;
}

.front, .back{
    /*background-color: rgba(0,0,0,.3);*/
    position: absolute;
    padding:10px 30px;
    top: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
}

.front{
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}
.flip{
    transform: rotateY(180deg);
}

a:hover{
    cursor: pointer;
}



  /* Set a style for all buttons */
button.login {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
button.login:hover {
    opacity:1;
}
  
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
  
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}
  
/* Add padding to container elements */
.container {
    padding: 16px;
    background-color: #ffffff;
}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
    padding-top: 50px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: #bd2f2f;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
    width: 100%;
    }
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
    }
}


#id01 {
    z-index: 5;
}


div.container.login {
    box-shadow: 0 8px 16px 0 rgba(133, 104, 104, 0.2);
    border:0px;
    border-radius: 5px;
    margin-top: 50px;
    padding: 30px;
    width: 40%;
}


h3.login {
    font-weight: bold;
    color:#393d3f;
}


button.btn.login {
    background-color: #393d3f;
    color:white;
    font-weight: bold;
    margin-right: 30px; 
} 


a.flipbutton {
    color: #393d3f;
    font-weight: bold;
}